@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import "partials/variables";
@import "partials/mixins";
@import "partials/reset";
@import "partials/fonts";
@import "partials/icons";
@import "partials/modal";
@import "partials/loader";
@import "partials/forms";

@import "partials/header";

body {
  overflow: hidden;
}

p {
  margin-bottom: 10px;
}

h3 {
  font-size: 24px;
  margin-bottom: 25px;
}

#wrapper {
  display: flex;
  flex-direction: column;
}

#container {
  flex-grow: 1;
  position: relative;
  max-width: 100vw;
  max-height: calc(100vh - 70px);

  .battlefield {
    width: 3200px;
    height: 3200px;
    padding: 200px;

    &:before {
      content: "";
      background: url('~@/assets/img/sea.png') repeat;
      width: 100000px;
      height: 100000px;
      left: -50000px;
      top: -50000px;
      position: absolute;
    }

    .beach {
      position: relative;
      width: 100%;

      .bl {
        position: absolute;
        left: -200px;
        top: 200px;
        width: 200px;
        height: 2400px;
        background: url('~@/assets/img/pijesakV3Y.png') repeat-y;
      }

      .br {
        position: absolute;
        right: -200px;
        top: 200px;
        width: 200px;
        height: 2400px;
        background: url('~@/assets/img/pijesakV3Y.png') repeat-y;
        transform: rotate(180deg);
      }

      .bt {
        position: absolute;
        left: 200px;
        top: -200px;
        width: 2400px;
        height: 200px;
        background: url('~@/assets/img/pijesakV3X.png') repeat-x;
        transform: rotate(180deg);

        &:before {
          content: "";
          position: absolute;
          left: -400px;
          top: -200px;
          width: 400px;
          height: 400px;
          background: url('~@/assets/img/kutPijeskaV3.png') no-repeat;
          transform: rotate(90deg);
          z-index: 99;
        }

        &:after {
          content: "";
          position: absolute;
          right: -400px;
          top: -200px;
          width: 400px;
          height: 400px;
          background: url('~@/assets/img/kutPijeskaV3.png') no-repeat;
          transform: rotate(0deg);
          z-index: 99;
        }
      }

      .bb {
        position: absolute;
        left: 200px;
        bottom: -200px;
        width: 2400px;
        height: 200px;
        background: url('~@/assets/img/pijesakV3X.png') repeat-x;

        &:before {
          content: "";
          position: absolute;
          left: -400px;
          top: -200px;
          width: 400px;
          height: 400px;
          background: url('~@/assets/img/kutPijeskaV3.png') no-repeat;
          transform: rotate(90deg);
          z-index: 99;
        }

        &:after {
          content: "";
          position: absolute;
          right: -400px;
          top: -200px;
          width: 400px;
          height: 400px;
          background: url('~@/assets/img/kutPijeskaV3.png') no-repeat;
          transform: rotate(0deg);
          z-index: 99;
        }
      }
    }

    .grid {
      position: relative;
      width: 2800px;
      height: 2800px;
      margin: 0;
      z-index: 100;
      background: $emptyCellColor;
    }

    .sector-row {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .sector-row-0 {
      .sector-column-0 {
        box-shadow: inset 0 0 17px 5px #8A0DB2;
      }

      .sector-column-1 {
        box-shadow: inset 0 0 17px 5px #F00;
      }
    }

    .sector-row-1 {
      .sector-column-0 {
        box-shadow: inset 0 0 17px 5px #ff6f07;
      }

      .sector-column-1 {
        box-shadow: inset 0 0 17px 5px #d7ce27;
      }
    }

    .row {
      display: flex;
      flex-direction: row;
      align-items: center;

      .cell {
        width: $dimensions;
        height: $dimensions;
        flex-shrink: 0;
        background: transparent;
        border: $borderWidth solid $borderColor;
        padding: 5px;

        &.busy, &.blank, &.owner {
          cursor: pointer;
        }

        &.owner {
          background-color: #000;
          box-shadow: inset 0 0 17px 5px #0F0;
        }

        &.selected {
          box-shadow: inset 0 0 17px 5px $primaryColor;
        }

        &.reserved {
          background: $reservedCellColor;
        }

        img {
          width: 100%;
          height: auto;

          @include removeImageSmooth;
        }
      }
    }
  }
}
