.form-control {
  margin-bottom: 10px;

  label {
    display: block;
    margin-bottom: 2px;
  }

  input {
    display: block;
    width: 100%;
    font-size: 16px;
    padding: 4px;
  }

  .error {
    color: #F00;
    font-size: 10px;
    margin-top: 8px;
  }
}

button {
  cursor: pointer;
  border: none;
  font-family: $mainFont;
  padding: 10px 20px;
  border-radius: 20px;

  &.primary {
    background-color: $primaryColor;
    color: #FFF;

    &:hover {
      background-color: lighten($primaryColor, 10%);
    }

    &:active {
      background-color: darken($primaryColor, 10%);
    }

    &:disabled {
      cursor: auto;
      background-color: lighten($primaryColor, 40%);

      &:hover, &:active {
        background-color: lighten($primaryColor, 40%);
      }
    }
  }

  &.success {
    background-color: #00FF00;
    color: #000;

    &:disabled {
      cursor: auto;
    }
  }
}

.buttons {
  display: flex;
  align-items: center;

  button {
    margin-right: 5px;
  }
}
