header {
  width: 100vw;
  background: transparent url('~@/assets/img/oblaci.png') repeat-x center;
  background-size: contain;
  height: $headerHeight;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .controls {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: flex-end;
    background: transparent url('~@/assets/img/oblakDesni.png') no-repeat right;
    height: 100%;
    background-size: contain;
    padding-right: 20px;

    @media only screen and (max-width: 640px) {
      background-size: cover;
    }
  }

  @media only screen and (max-width: 640px) {
    background: $headerColor;
  }

  @media only screen and (max-width: 768px) {
    background-repeat: no-repeat;
    background-size: cover;
  }

  .logo {
    position: relative;

    img {
      position: absolute;
      height: 140px;
      width: auto;
      top: -20px;
      left: 25px;

      @include removeImageSmooth;

      @media only screen and (max-width: 768px) {
        height: 90px;
      }
    }
  }

  .zoom {
    display: flex;
    align-items: center;

    button {
      border: 0;
      background: transparent;
      font-size: 18px;
      margin: 0 5px;
      padding: 0;
      cursor: pointer;
      color: $headerFontColor;
    }
  }

  .settings-menu {
    margin-left: 8px;
    position: relative;

    .menu-content {
      display: none;
      position: absolute;
      background-color: #FFF;
      z-index: 1000;
      top: 20px;
      right: 0;
      min-width: 120px;

      a {
        padding: 8px 12px;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    a {
      color: $headerFontColor;
      text-decoration: none;
    }

    &:hover {
      .menu-content {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .connection-button {
    margin-right: 10px;
  }
}
