@font-face {
  font-family: 'icomoon';
  src:  url('~@/assets/fonts/icons/icomoon.eot?8bxfcv');
  src:  url('~@/assets/fonts/icons/icomoon.eot?8bxfcv#iefix') format('embedded-opentype'),
  url('~@/assets/fonts/icons/icomoon.ttf?8bxfcv') format('truetype'),
  url('~@/assets/fonts/icons/icomoon.woff?8bxfcv') format('woff'),
  url('~@/assets/fonts/icons/icomoon.svg?8bxfcv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zoom-in:before {
  content: "\e987";
}
.icon-zoom-out:before {
  content: "\e988";
}
.icon-cog:before {
  content: "\e994";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-copy:before {
  content: "\e92c";
}
