.vm--modal {
  box-shadow: none;
  border-radius: 0;
  background-color: transparent !important;
}

a.modal-close {
  position: absolute;
  color: black;
}

.property-modal {
  background: url('~@/assets/img/dialr.png') center;

  .modal-close {
    top: 10px;
    right: 10px;
  }

  .modal-body {
    position: relative;

    .image {
      position: absolute;
      right: 115px;
      top: 118px;

      img {
        width: 130px;
        height: auto;

        @include removeImageSmooth;
      }
    }

    .texts {
      position: absolute;
      top: 278px;
      left: 162px;
      height: 245px;
      width: 330px;

      .content {
        padding-right: 20px;
      }

      > div {
        margin-bottom: 5px;
      }
    }
  }
}

.reservation-modal {
  background: url('~@/assets/img/parchmentr.png') center;
  padding: 80px 70px;

  .buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  input[type="checkbox"] {
    display: block;
    margin: 10px 0;
  }

  .modal-close {
    top: 25px;
    right: 45px;
  }
}
