$mainFont: 'MedievalSharp', cursive;

// Colors
$backgroundColor: #041024;
$emptyCellColor: #000;
$reservedCellColor: #666;
$borderColor: #fff;
$headerColor: #3a62a7;
$headerFontColor: #000;
$primaryColor: #0023d3;

// Container
$seaPadding: 0px;
$headerHeight: 70px;

// Cell
$dimensions: 82.35px;
$borderWidth: 1px;
