<template>
  <div class="loader" v-if="active">
    <img src="@/assets/img/loading.gif" alt="loading"/>
    <div>Loading...</div>
  </div>
</template>

<script>
export default {
  name: 'Loader',
  computed: {
    active() {
      return this.$store.state.loading;
    },
  },
};
</script>
